.container .col {
  color: green;
  font-size: 14px; }

.header {
  font-size: 12px; }

section .container {
  width: 75%;
  border: 3px solid blue;
  border-radius: 5px;
  padding: 10px;
  background-color: pink; }
  section .container .col-md-4 {
    color: green; }
